{% extends 'base.html' %}
{% block title %}
    マイレシピ-peko Lunch
{% endblock%}

{% block content %}
    <h2>マイレシピ</h2>
    
    <form id="recipe-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.recipe_name.label_tag }}
            {{ form.recipe_name }}
        </div>

        <div>
            {{ form.menu_category.label_tag }}
            {{ form.menu_category }}
        </div>

        <div>
            {{ form.cooking_time_min.label_tag }}
            {{ form.cooking_time_min }}
        </div>

        <div>
            {{ form.cooking_method.label_tag }}
            {{ form.cooking_method }}
        </div>

        <div>
            {{ form.food_categories.label_tag }}
            {{ form.food_categories }}
        </div>
        <div>
            {{ form.image_url.label_tag }}
            {{ form.image_url }}
        </div>
        <div>
            {{ form.share.label_tag }}
            {{ form.share }}
        </div>
        <div>
            {{ form.is_avoid_main_dish.label_tag }}
            {{ form.is_avoid_main_dish }}
        </div>
        <div>
            {{ form.serving.label_tag }}
            {{ form.serving }}
        </div>


    <div id="ingredients-container" style="position: relative;">
        <p style="display: inline-block; margin-right: 10px;">材料：</p>
        <div id="ingredients-form" style="position:sticky; top:0; z-index:1;">
            
            <table style="display: inline-block;" id="ingredients_table">
    
                <tr>
                    <td>材料名</td>
                    <td>分量・単位</td>
                </tr>
                <tr>
                    <td>{{ form.ingredient_name }}</td>
                    <td>
                        <input type="text" name="quantity_unit" id="quantity_unit">
                    </td>
                </tr>
            </table>

            <button type="button" onclick="addIngredient()">材料を追加する</button>
    
            <p>
            <input type="number" name="serving_size" id="serving_size" min="1" style="width: 50px">
            <label for="serving_size">人分</label>
            </p>
        </div>





        


            
        
        <div id="process-form">
            {{ form.process_description.label_tag }}
            {{ form.process_description }}
        </div>
        


        <input type="hidden" id="rating-value" name="rating-value" value="">
        <div id="rating-display" style="margin-bottom: 10px;">マイ評価：☆☆☆</div>

        <button type="submit" class="btn btn-primary">登録</button>

    </form>

    <script>
        function addIngredient() {
            var table = document.getElementById("ingredients_table");
            var newRow = table.insertRow(-1); // Insert row at the end
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            cell1.innerHTML = '<input type="text" name="ingredient_name">';
            cell2.innerHTML = '<input type="text" name="quantity_unit">';
        }
        


        document.addEventListener("DOMContentLoaded",function() {
            const ratingDisplay = document.getElementById('rating-display');
            const ratingButton = document.getElementById('recipe-form');
            let currentRating = 0;

            ratingDisplay.addEventListener('click', function(){
                const newValue = currentRating === 1 ? 2 : currentRating === 2 ? 3 : 1;
               currentRating = newValue;
                updateRatingDisplay(currentRating);
            });

            recipeForm.addEventListener('submit', function(event) {
                event.preventDefault(); // デフォルトのフォーム送信をキャンセル

                const newValue = currentRating === 0 ? 3 : 0 ;
                currentRating = newValue;
                updateRatingDisplay(currentRating);

            // フォームの送信処理をここに追加する（必要に応じて）
            // 例: recipeForm.submit();
            });




            function updateRatingDisplay(rating) {
                let ratingDisplayText = '';
                for(let i = 1; i <= 3; i++) {
                    if (i <= rating) {
                        ratingDisplayText += '★';
                    } else{
                        ratingDisplayText += '☆';
                    }
                }
                ratingDisplay.textContent = 'マイ評価：' + ratingDisplayText;
                document.getElementById('rating-value').value = rating;
            }

            updateRatingDisplay(currentRating);

        });
    </script>
{% endblock %}