{% extends 'base.html' %}

{% block title %}
    マイページ - peko Lunch
{% endblock %}

{% block content %}
<h2>マイページ</h2>

<form method="post" enctype="multipart/form-data" action="{% url 'accounts:my_page' %}">
    {% csrf_token %}
    <div style="position: relative; display: inline-block;">
        {% if user.image_url %}
            <img id="profile-image" src="{{ user.image_url.url }}" alt="プロフィール画像" class="profile-image">
        {% else %}
            <img id="profile-image" src="{{ MEDIA_URL }}default_profile_image.png" alt="デフォルト画像" class="profile-image">
        {% endif %}
        <div class="image-upload-label">
            <label for="image_upload" class="plus-icon-label">
                <span class="upload-text">＋画像を登録</span>
            </label>
            <input type="file" id="image_upload" name="image_url" style="display: none;" onchange="previewImage(event)">
        </div>
        <button type="button" id="clear-image" class="clear-image-btn">×</button> 
        <input type="checkbox" id="image_url-clear" name="image_url-clear" style="display: none;"> 
    </div>

    <h3>{{ user.username }}</h3> 
    <a href="{% url 'accounts:user_update' %}">アカウント情報変更</a> 
    <br><br>

    <div>
        <p>家族構成：</p>
        <p><small>＊レシピに反映されます。子ども＝0.5人分</small></p>
        {{ form.adult_count.label_tag }} {{ form.adult_count }}人
    </div>
    <br>

    <div>
        {{ form.children_count.label_tag }} {{ form.children_count }}人
    </div>
    <br>

    <div>
        {{ form.cooking_time_min.label_tag }} {{ form.cooking_time_min }}
        <p><small>＊設定した時間内で調理できる料理で献立が作成されます。</small></p>
    </div>
    <br>

    <div>
        <label>三つ星レシピ：</label>
        <p><small>＊ご自身で三つ星評価をつけたレシピです。</small></p>
        {% if three_star_recipes %}
            <ul class="recipe-list">
                {% for recipe in three_star_recipes %}
                    <li class="recipe-item">
                        {% if recipe.image_url %}
                            <img src="{{ recipe.image_url.url }}" alt="{{ recipe.recipe_name }}" class="recipe-image">
                        {% else %}
                            <img src="{{ MEDIA_URL }}default_recipe_image.jpg" alt="デフォルト画像" class="recipe-image">
                        {% endif %}
                        <p><a href="{% url 'recipes:recipe_detail' recipe.pk %}">{{ recipe.recipe_name }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>三つ星レシピが登録されていません。レシピを評価しましょう。</p>
        {% endif %}
    </div>

    <div class="save-button-container">
        <button type="submit" class="register-button">保存</button>
    </div>
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('profile-image');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    document.getElementById('clear-image').addEventListener('click', function() {
        var profileImage = document.getElementById('profile-image');
        profileImage.src = "{{ MEDIA_URL }}default_profile_image.png";
        document.getElementById('image_upload').value = '';
        document.getElementById('image_url-clear').checked = true;  
    });
</script>

{% endblock %}
