.container{
    padding: 20px !important;
    margin: auto !important;
    max-width: 1200px !important;
}

/* ログイン画面 */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 画面全体の高さに対して中央に配置 */
}

.center-content {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
}
/* ログイン・新規登録入力フォームの余白 */
.form-group {
    margin-bottom: 15px; /* フォーム要素間の間隔を追加 */
}

html, body {
    height: 100%;
}

body.has-navbar {
    padding-top: 80px; 
}

.container {
    padding-top: 70px; /* 固定ナビゲーションバーと重ならないようにパディングを追加 */
}

/* ナビゲーションメニュー */
.navbar {
    z-index: 1000;  /* ナビゲーションバーが常に最前面に表示されるようにする */
    background-color: #eeeeee; /* 背景色の変更 */
    padding: 10px 20px; /* パディングの追加 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* シャドウを追加して浮き上がらせる */
}

.navbar-brand {
    font-size: 1.5rem; /* ブランド名の文字サイズ */
    font-weight: bold; /* ブランド名の文字を太字に */
    margin-right: 50px; /* ブランド名とナビゲーションメニューの間にスペースを追加 */
}

.navbar-nav .nav-item {
    margin-right: 30px; /* 各ナビゲーション項目の右側にマージンを追加 */
}



.navbar-nav .nav-link:hover {
    color: #000; /* ホバー時のナビゲーションリンクの色 */
    text-decoration: underline; /* ホバー時に下線を追加 */
}


.welcome-message p {
    font-size: 1.2rem; /* ウェルカムメッセージの文字サイズ */
    font-weight: bold; /* ウェルカムメッセージの文字を太字に */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* 最後のアイテムにはマージンを追加しない */
}


calendar {
    height: auto; /* カレンダーの高さを自動調整 */
    max-height: 200px; /* カレンダーの最大高さを設定 */
}

/* 献立がある日にアイコン */
.fc-event .fas {
    color: #494848; /* 元の色を黒に設定 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: font-size 0.2s, color 0.2s; /* サイズと色変更時のアニメーション */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.fc-event .fas:hover {
    color: #FF0000; /* ホバー時の色を赤に変更 */
}

/* 献立作成ボタンのスタイル */
#create-meal-plan-btn-container{
    text-align: center;
}

.btn-primary {
    background-color:#f7b02d !important; /* 山吹色 */
    color: white !important;
    font-size: 1.2em; /* 文字サイズを大きくする */
    padding: 10px 20px; /* ボタンの内側の余白を大きくする */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #d98c1d !important; /* ダーク山吹色 */
}

#selectedDateDisplay {
    text-align: center;
}

/* カレンダー配色のスタイル */
.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

/* マイレシピのフードカテゴリーの枠 */
#food-categories-container {
    max-height: 400px; /* 最大高さを設定してスクロールを可能にする */
    overflow-y: auto; /* 垂直スクロールを有効にする */
    border: 1px solid #ccc; /* ボーダーを追加して見やすくする */
    padding: 10px;
    margin-bottom: 20px;
}

.alert-danger {
    color: red;
}

/* 料理一覧ページのスタイル */
.content-container{
    display:flex;
    justify-content:space-between;
}

.main-content{
    flex:3;
}

.sidebar{
    flex:1;
    margin-left: 20px;
    margin-top:60px;
}

.sidebar input[type="text"]{
    margin-bottom: 10px;
}


.search-button{
    margin-top: 10px;
}


.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.recipe-item {
    padding: 10px;
    text-align: center;
}

.recipe-item img {
    max-width: 100%;
    height: auto;
}

/* 評価 */
#rating-stars span:hover,
#modal-rating-stars span:hover,
#rating-stars span:hover ~ span,
#modal-rating-stars span:hover ~ span {
    color: #ffcc00;
}

#rating-stars span,
#modal-rating-stars span {
    transition: color 0.3s;
}

.click-to-rate {
    font-size: 0.9em;
    color: #888;
    margin-left: 10px;
}

/* レシピ詳細ページの材料欄 */
.ingredients-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ingredients-table th, .ingredients-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ingredients-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.ingredients-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* マイページ */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #8b8a8a;
}

.image-upload-label {
    position: absolute;
    bottom: -15px;
    right: -70px; /* プラスアイコンとラベルを右に移動 */
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.plus-icon-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.upload-text {
    transition: color 0.3s;
}

.plus-icon-label:hover .upload-text {
    color: #007bff;
}

.clear-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0;
}

.clear-image-btn:hover {
    background-color: #d32f2f;
}



/* 前の週次の週のボタン */
.navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.navigation-container h3 {
    margin: 0 20px;
}

.navigation-container .btn {
    margin: 0 10px;
    background-color: #fac825;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation-container .btn:hover {
    background-color: #f6b62c;
}

.navigation-container .btn i {
    margin-right: 5px;
}


/* 週間献立の表示 */
.meal-plan-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.meal-plan {
    padding: 20px;
    margin: 20px;
    width: 80%;
}

.meal-item {
    flex: 1;
    text-align: center;
    width: 30%;
}

.meal-item img {
    max-width: 100%;
    height: auto;
}

.meal-plan {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.meal-items {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.meal-content {
    text-align: center;
}

/* 献立編集画面の料理名を目立たせる */
.recipe-name a {
    font-size: 1.4rem; /* フォントサイズを大きくする */
    font-weight: bold; /* 太字にする */
    text-decoration: underline; /* 下線を追加 */
    color:#8FBC8F; /* リンクの文字色を変更 */
    margin-top: 10px; /* 上部にマージンを追加する */
}

.recipe-name a:hover {
    color: #CD5C5C; /* ホバー時の文字色を変更 */
    text-decoration: underline; /* ホバー時の下線 */
}

/* 献立なし専用のスタイル */
.no-recipe-text {
    font-size: 1rem; /* フォントサイズを調整 */
    font-weight: normal; /* フォントウェイトを通常に */
    color: #666; /* 色を変更する（必要に応じて調整） */
    text-align: center; /* 中央揃え */
}

/* 献立編集画面のスタイル */
.button-container {
    display: flex;
    gap: 5px; /* ボタンの間隔を狭くする */
    justify-content: center; /* ボタンを中央揃えにする */
}

.btn-outline-primary {
    border-color: #5c85d6;
    color: #5c85d6;
}

.btn-outline-primary:hover {
    background-color: #5c85d6;
    color: white;
}

.btn-outline-danger {
    border-color: #d9534f;
    color: #d9534f;
}

.btn-outline-danger:hover {
    background-color: #d9534f;
    color: white;
}

.no-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px dashed #ddd;
    border-radius: 10px;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* 選択した食材カテゴリのスタイル */
#selected-food-categories-container {
    margin-top: 20px;
}

#selected-food-categories-container h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#selected-food-categories-list {
    list-style-type: none;
    padding: 0;
}

#selected-food-categories-list li {
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px; /* 食材の間に右側の余白を追加 */
}

#selected-food-categories-list li button.remove-btn {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    color: #ff6347; /* 削除ボタンの色は赤 */
    cursor: pointer;
}

/* エラーメッセージ */
.error {
    color: red;
}


/* マイページ三ツ星レシピのスタイル */
.recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
}

.recipe-item {
    text-align: center;
}

.recipe-image {
    width: 100px;
    height: 100px;
}

.save-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.save-button {
    background-color: #007bff;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #0056b3;
}

/* 登録ボタン */
.register-button {
    background-color: #f7b02d; /* 山吹色 */
    color: white; /* ボタンのテキスト色を白に設定 */
    padding: 10px 20px; /* ボタンの内側の余白 */
    border: none; /* ボタンの枠線をなくす */
    border-radius: 5px; /* ボタンの角を丸くする */
    cursor: pointer; /* ボタンにポインターを表示 */
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

.register-button:hover {
    background-color: #d98c1d; /* ホバー時の背景色 */
}

/* ポートフォリオページ */
.portfolio-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; /* 上下の余白をなくす */
    text-align: center;
}

.portfolio-page p {
    font-size: 1.2em; /* 文字サイズを大きくする */
    line-height: 1.2; /* 行間を狭くする */
    margin: 0.5em 0; /* 上下のマージンを調整する */
}

.screenshot img {
    width: 50%;  /* 画像の幅を50%に設定 */
    height: auto;  /* アスペクト比を維持 */
}

.project-links a {
    font-size: 1.4em; /* 文字サイズを大きくする */
    margin: 0 10px; /* 左右の間隔を設定 */
    display: inline-block; /* 間隔を正しく適用するため */
    transition: color 0.3s ease; /* 色の変化にトランジションを追加 */
}

.project-links a:hover {
    color: #007bff; /* ホバー時の文字色を青に変更 */
    text-decoration: underline; /* ホバー時に下線を追加 */
}

.project-links {
    margin-bottom: 20px; /* ボタンとの間に間隔を追加 */
}

