
.selected {
    background-color: #FFC0CB !important;
}


#create-meal-plan-btn-container{
    text-align: center;
}

#selectedDateDisplay {
    text-align: center;
}


#food-categories-container {
    max-height: 400px; /* 最大高さを設定してスクロールを可能にする */
    overflow-y: auto; /* 垂直スクロールを有効にする */
    border: 1px solid #ccc; /* ボーダーを追加して見やすくする */
    padding: 10px;
    margin-bottom: 20px;
}

.alert-danger {
    color: red;
}

.content-container{
    display:flex;
    justify-content:space-between;
}

.main-content{
    flex:3;
}

.sidebar{
    flex:1;
    margin-left: 20px;
    margin-top:60px;
}

.sidebar input[type="text"]{
    margin-bottom: 10px;
}


.search-button{
    margin-top: 10px;
}


.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.recipe-item {
    padding: 10px;
    text-align: center;
}

.recipe-item img {
    max-width: 100%;
    height: auto;
}