{% extends 'base.html' %}

{% block title %}
ホーム - peko Lunch
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="welcome-message">
        <p>{{ username }}さん、ようこそ。 peko Lunchへ。</p>
    </div>

    <div class="instructions">
        <p>カレンダーから日付を選択し、「献立作成」ボタンを押してください。</p>
        <p>連続して7日間まで選択可能です。</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id='calendar'></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <div id="legend">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fas fa-utensils"></i> すでに献立がある日</li>
                    <li class="list-inline-item"><span class="legend-color" style="background-color: #ffffcc;"></span> 今日</li>
                    <li class="list-inline-item"><span class="legend-color" style="background-color: #add8e6;"></span> 選択中の日</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="create-meal-plan-btn-container" class="mt-4">
        <p id="selectedDateDisplay">献立を作成する日：</p> <!-- 選択された日付を表示するための要素 -->

        <form id="dateForm" method="post" action="{% url 'meal_planner:create_meal_plans' %}">
            {% csrf_token %}
            <input type="hidden" id="startDate" name="start_date">
            <input type="hidden" id="endDate" name="end_date">
            <button type="submit" class="btn btn-primary">献立作成</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/locales/ja.js'></script> <!-- 日本語言語ファイルを読み込む -->
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');

        function adjustIconSize() {
            const calendarWidth = calendarEl.clientWidth;
            const fontSize = Math.max(1, calendarWidth / 20) + 'px';  // カレンダーの幅に基づいてアイコンサイズを設定

            document.querySelectorAll('.fc-event .fas').forEach(icon => {
                icon.style.fontSize = fontSize;
            });
        }

        if (calendarEl) {
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'ja',
                timeZone: 'Asia/Tokyo', 
                headerToolbar: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                titleFormat: { year: 'numeric', month: 'long' },
                selectable: true,
                selectAllow: function(selectInfo) {
                    const maxSelectableDays = 7;
                    const selectRange = selectInfo.end.getTime() - selectInfo.start.getTime();
                    return selectRange > 0 && selectRange <= maxSelectableDays * 24 * 60 * 60 * 1000;
                },
                select: function(info) {
                    const startDate = moment(info.start).tz('Asia/Tokyo').toDate();
                    const endDate = moment(info.end).tz('Asia/Tokyo').subtract(1, 'day').toDate(); // 終了日を1日引く

                    const dateRangeString = formatDateRange(startDate, endDate);
                    document.getElementById('selectedDateDisplay').textContent = "献立を作成する日：" + dateRangeString;

                    document.getElementById('startDate').value = startDate.toISOString().split('T')[0]; // 日付形式で設定
                    document.getElementById('endDate').value = endDate.toISOString().split('T')[0]; // 日付形式で設定

                    calendar.getEvents().forEach(event => {
                        if (event.extendedProps.selectEvent) {
                            event.remove();
                        }
                    });

                    const selectedDays = [];
                    let currentDay = startDate;
                    while (currentDay <= endDate) {
                        selectedDays.push(new Date(currentDay));
                        currentDay.setDate(currentDay.getDate() + 1);
                    }
                    selectedDays.forEach(day => {
                        calendar.addEvent({
                            start: day,
                            allDay: true,
                            display: 'background',
                            backgroundColor: '#add8e6', // 選択中の日付の背景色
                            extendedProps: {
                                selectEvent: true
                            }
                        });
                    });
                },
                eventContent: function(info) {
                    return {
                        html: '<i class="fas ' + info.event.extendedProps.icon + '" title="クリックして1週間の献立を見る"></i>'  // ツールチップを追加
                    };
                },
                eventDidMount: function(info) {
                    info.el.style.backgroundColor = 'transparent';
                    adjustIconSize();  // アイコンサイズを調整
                },
                eventClick: function(info) {
                    const date = info.event.start;
                    const oneWeekLater = new Date(date);
                    oneWeekLater.setDate(oneWeekLater.getDate() + 6);

                    const weeklyMealPlanUrl = `{% url 'meal_planner:edit_meal_plan' 'REPLACE_START_DATE' 'REPLACE_END_DATE' %}`
                        .replace('REPLACE_START_DATE', date.toISOString().split('T')[0])
                        .replace('REPLACE_END_DATE', oneWeekLater.toISOString().split('T')[0]);

                    window.location.href = weeklyMealPlanUrl;
                },
                dayMaxEvents: true,
                selectOverlap: false,
            });

            fetch("{% url 'meal_planner:meal_plan_dates' %}")
                .then(response => response.json())
                .then(dates => {
                    dates.forEach(date => {
                        calendar.addEvent({
                            start: date,
                            allDay: true,
                            display: 'background',
                            extendedProps: {
                                icon: 'fa-utensils'  // アイコンのクラス
                            }
                        });
                    });
                })
                .catch(error => console.error('Error fetching meal plan dates:', error));

            calendar.render();

            // カレンダーのリサイズに対応する
            window.addEventListener('resize', adjustIconSize);
        }
    });

    function formatDateRange(startDate, endDate) {
        const startDay = startDate.getDate();
        const startMonth = startDate.getMonth() + 1;
        const endDay = endDate.getDate();
        const endMonth = endDate.getMonth() + 1;

        return startMonth === endMonth 
            ? `${startMonth}/${startDay}〜${endDay}`
            : `${startMonth}/${startDay}〜${endMonth}/${endDay}`;
    }
</script>
{% endblock %}
