{% extends 'base.html' %}

{% block title %}
    献立編集 - peko Lunch
{% endblock %}

{% block content %}
    <h2>献立編集</h2>
    <h3>{{ date_range }}の献立</h3> <!-- フォーマットされた日付範囲を表示 -->

    <ul>
        {% for plan in meal_plans %}
            <li>
                <h3>{{ plan.date }}</h3>
                <ul>
                    <li>主食: {{ plan.staple_recipe }}</li>
                    <li>主菜: {{ plan.main_recipe }}</li>
                    <li>副菜: {{ plan.side_recipe }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
